/RemoteControlPC-Studio/build/
/RemoteControlPC-Desktop/build/
/RemoteControlPC-Studio/app/build/
/RemoteControlPC-JavaFXML/build/

*~

# Android Studio / IntelliJ IDEA 
*.iws
/RemoteControlPC-Studio/.idea/libraries
/RemoteControlPC-Studio/.idea/tasks.xml
/RemoteControlPC-Studio/.idea/vcs.xml
/RemoteControlPC-Studio/.idea/workspace.xml

/RemoteControlPC-Studio/.gradle/
